*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    font-family: cursive;
    font-style:normal;
    margin-left: 20px;
    margin-right: 20px;
}

#upcoming,#about,#contact,#game_information,#rules{
    background-color: black;
    max-width:100%;
    color: white;
    font-family:cursive;
    text-align:center;
    margin-top:5px;
    margin-bottom: 5px;
    border: solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

header{
    border-color:black;
    border-style: solid;
    margin-top: 20px;
    background-image: url("../assets/design1_image1.jpg");
    background-position: center;
    background-size:cover;
    max-width:100%;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

h1{
    font-family:cursive;
    padding-left: 15px;
    text-decoration:double;
    font-style: oblique;
    text-align:start;
    position: relative;
    bottom: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
 img#logo{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    right: 60px;
    top: 510px;
 }

 #navbar nav>ul>li>a{
    display: block;
    text-decoration: none;
    list-style-type:none;
 }

li a{
   padding: 20px 20px;
   color: black;
}

#navbar{
    display: inline-block;
    margin: 50px;
}

footer{
    margin: 30px;
}

#seccion,#seccion2,#seccion3,#seccion4,#seccion5,#seccion6{
    padding: 25px;
    background-color:white;
    position: relative;
    left: 250px;/*02-02*/
    top: -400px;
    bottom: 180px;
    /*width: 823px;* 02-02*/
    width: 79%;/*02*/
    border: solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;/*02-02*/
}

a.active{
    color:blue;
}

#seccion5>section>h2{
    text-align: center;
}

table{
    background-color:steelblue;
    padding: 10px;
    text-indent: 30px;
    text-align: left;
    border: solid black;
}

tr{
    background-color:antiquewhite;
    text-align: center;
}

th{
    background-color: rgb(7, 244, 252);
    border: solid;
}

td{
    background-color:aquamarine;
    padding: 10px;
    border: solid;
}

#email{
    position:relative;
    left: 420px;
    bottom: 15px;
}

dd>ol{
    list-style: decimal;
}

ol#alfabetico{
    list-style: lower-alpha;
}

dd>ul{
    list-style: circle;
}
dl{
    padding-left: 15px;;
}
.nav-ul{
    list-style: none;
}

dt{
    font-weight: bold ;
}

dd>ul>li{
    margin-left: 35px;
}

ol#alfabetico>li{
    margin-left: 25px;
    margin-bottom: 10px;
}

dd>ol>li{
    margin-left: 25px;
    margin-bottom: 15px;
}
#IHF{
    font-size: large;
    text-align: center;
}
#seccion5{
    padding-bottom: 80px;
}
nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    bottom: 4vh;
}

dt,dd{
    margin-bottom: 15px;
}

nav{/*02-02*/
    display: block;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    position: relative;
    top: -50px;
    bottom:100px;
    left: 10px;
}

#seccion,#seccion3{
    align-items: flex-start;
}
 .left{
    align-self: flex-start;/*02-02*/
}

/*03-02-23*/
.mapas{
    border:solid black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#seccion6{
    background-color:white;
}
fieldset{
    /*background-color: antiquewhite;*/
    border: solid black;
    margin: 5px;
    padding: 5px;
}
fieldset>div#uno,fieldset>div#tres{
    display: inline;
    position: relative;
}
fieldset>div#dos{
    display: inline;
    position: relative;
    left: 200px;
    bottom: 100px;
}
fieldset>div#cuatro{
    display: block;
    position: relative;
    left: 100px;
    bottom: 65px;
}
input{
    margin: 10px;
}
fieldset>div#seis{
    display:block;
    display: inline;
    position: relative;
    left: 200px;
    bottom: 120px;
}
#per{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}
.signature-date{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: silver;
}
fieldset{
    background-color:silver;
}