*{
    margin: 10px;
	padding: 0;
	border: 0;
}

body{
    background-color: aquamarine;
}

.img1{
    text-align: center;
}
#upcoming{
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
}
